@{
    ViewData["Title"] = "Remove Cliente";
}

<h1>APAGAR CLIENTE</h1>

<p>Deseja realmente apagar o registro do cliente?</p>

<a role="button" onclick="testando()" class="btn btn-primary">Apagar</a>
<a asp-controller="Cliente" asp-action="Index" role="button" class="btn btn-danger">Cancelar</a>